---
import type { Project } from "@/content/config"
import Icon from "./_icon.astro"

export interface Props {
  project: Project
}

const { project } = Astro.props
---

<div class="flex flex-col bg-primary p-4 gap-1.5 h-[106px] rounded-md border border-primary">
  <div class="flex justify-between items-center">
    <div class="flex items-center gap-2">
      <h3 class="text-primary font-medium line-clamp-1">{project.title}</h3>

      <ul class="flex gap-2">
        {project.icons.map((name) => <Icon name={name} />)}
      </ul>
    </div>

    <div class="flex items-center gap-2">
      {
        project.website && (
          <a
            href={project.website}
            target="_blank"
            rel="external noreferrer"
            title="Website"
            class="inline-block"
          >
            <span class="i-lucide-globe-2 inline-flex justify-center items-center w-4 h-4 opacity-80" />
            <span class="sr-only">website link</span>
          </a>
        )
      }
      {
        project.github && (
          <a
            href={project.github}
            target="_blank"
            rel="external noreferrer"
            title="GitHub"
            class="inline-block"
          >
            <span class="i-lucide-github inline-flex justify-center items-center w-4 h-4 opacity-80" />
            <span class="sr-only">github link</span>
          </a>
        )
      }
    </div>
  </div>

  <div class="text-sm font-light line-clamp-2">{project.description}</div>
</div>
